@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito sans";
  transition: 0.3s;
}
:root {
  --blue: #4361ee;
  --light_blue: #e9f4ff;
  --padding: 30px 135px;
  --padding-footer: 60px 135px;
  --padding-media-tablet: 0px 60px;
  --padding-media-mobile: 0px 20px;
}
:hover button {
  cursor: pointer;
}
h1 {
  font-weight: 700;
  font-size: 48px;
  max-width: 100%;
}
span {
  background: url(images/Vector-icon.svg) 0 bottom no-repeat;
  background-size: contain;
}

/* Section Header */
.header_section {
  padding: var(--padding);
}
.header_items {
  display: flex;
  justify-content: space-between;
}
.header_items button {
  background: none;
  border: none;
}
.header_items button:hover {
  cursor: pointer;
}

/* Crafting Visual Section */
.crafting_visual_items {
  display: flex;
  padding: var(--padding);
  background-color: var(--light_blue);
  /* justify-content: space-between; */
}
.crafting_visual_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  /* flex-basis: 60%; */
}
.crafting_visual_items button {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 6px;
  height: fit-content;
  padding: 16px 34px;
  border-radius: 8px;
  border-style: none;
  color: white;
  background-color: var(--blue);
  font-size: 18px;
}
.crafting_visual_items button:hover {
  background-color: black;
  transform: translate(0px, 10px);
  border-radius: 10px;
}
.women_picture {
  flex-basis: 40%;
  position: relative;
  top: 55px;
}

/* Elevate Your Brand Section */
.elevate_your_brand {
  padding: var(--padding);
}
.elevate_your_brand_topsection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 105px;
  align-items: center;
}
.elevate_your_brand_topsection_text {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.elevate_your_brand_downsection {
  display: flex;
  align-items: center;
  text-align: center;
}
.elevate_your_brand_image {
  margin-top: 147px;
  margin-bottom: 82px;
}
.elevate_your_brand_downsection_text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
}

/* Our service section */
.our_service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding);
  background-color: var(--light_blue);
}
.our_service_title {
  margin: 80px 0px 80px 0px;
}
.our_service_grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
  column-gap: 30px;
}
.our_service_grid img {
  width: 100%;
  border-radius: 10px;
}
.our_service button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  padding: 16px 34px;
  margin-top: 60px;
  margin-bottom: 80px;
  text-decoration: none;
  transition: 0.3s;
  gap: 6px;
}
.our_service button:hover {
  background-color: black;
  transform: translate(0px, 10px);
  border-radius: 10px;
}

/* Happy Stories Section */
.happy_stories {
  padding: var(--padding);
}
.happy_stories_title {
  display: flex;
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 80px;
}
.happy_stories_items {
  display: flex;
  align-items: center;
  background-color: var(--light_blue);
  border-radius: 20px;
  gap: 37px;
}
.happy_stories_items .img_man {
  padding: 48px 0px 58px 10px;
}
.happy_stories_text {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 40px 40px;
}
.happy_stories_text img {
  max-width: 38px;
  max-height: 31px;
  margin-bottom: 20px;
}

/* Contact us Section */
.contact_us {
  width: 100%;
}
.contact_us_title {
  display: flex;
  justify-content: center;
  margin: 135px 0px 75px 0px;
}
.contact_us_data {
  display: flex;
  flex-direction: column;
  padding-top: 147px;
}
.contact_us_infos {
  padding: var(--padding);
  background-color: var(--light_blue);
  display: flex;
  justify-content: space-between;
}
.first_line {
  display: flex;
  align-items: center;
  gap: 16px;
  /* background-color: white; */
}
.logo {
  background-color: white;
  padding: 10px;
}
.contact_us_infos_text {
  padding-left: 57px;
  margin-bottom: 40px;
}
.formulaire {
  background-color: white;
  width: 570px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px;
  position: relative;
  top: 50px;
}
.formulaire #name,
#email,
#company,
#number {
  width: 97%;
  height: 48px;
  border: 1px solid;
  border-radius: 6px;
  border-color: #e2e7ed;
  margin-bottom: 30px;
}
input {
  padding-left: 10px;
}
#form_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  padding: 16px 34px;
  background-color: var(--blue);
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}
#form_button:hover {
  background-color: black;
}
input ::placeholder {
  opacity: 1;
  color: gray;
}

/*  Section Stay Updated */
.stay_updated {
  padding: var(--padding);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.stay_updated h1 {
  padding-top: 186px;
  padding-bottom: 73px;
  font-size: 48px;
}
.stay_updated_card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.stay_updated_card {
  overflow: hidden;
  background-color: var(--light_blue);
  border-radius: 15px;
}
.stay_updated_card .img_card {
  width: 100%;
}
.stay_updated_card_text {
  padding: 20px 30px;
  background-color: var(--light_blue);
}
.stay_updated_card_text p {
  padding-bottom: 20px;
  font-size: 24px;
}
.stay_updated_card_text img {
  color: var(--blue);
}
.link_card {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  color: var(--blue);
  text-decoration: none;
}
.link_card p {
  font-size: 16px;
}
.stay_updated .button {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 6px;
  height: fit-content;
  padding: 16px 34px;
  border-radius: 8px;
  border-style: none;
  color: white;
  background-color: var(--blue);
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 130px;
}
.stay_updated .button:hover {
  background-color: black;
  transform: translate(0px, 10px);
  border-radius: 10px;
}

/* Footer */
.footer {
  background-color: #03071b;
  color: white;
  padding: var(--padding-footer);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer_logo {
  order: 1;
}
.footer_logo img {
  padding-bottom: 42px;
}
.footer_logo_bis {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.footer_contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  order: 2;
}
.footer_infos_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer_explore {
  order: 3;
}
.footer_explore h2 {
  padding-bottom: 20px;
}
.footer_explore ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
}
.footer_form h2 {
  padding-bottom: 20px;
}
.footer_form {
  order: 4;
}
.footer_form p {
  padding-bottom: 18px;
  padding-top: 14px;
}
.footer_form #footer_email {
  width: 90%;
  height: 48px;
  border: 1px solid;
  border-radius: 6px;
  border-color: #e2e7ed;
}
#footer_button {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 6px;
  height: fit-content;
  padding: 16px 34px;
  border-radius: 8px;
  border-style: none;
  color: white;
  background-color: var(--blue);
  font-size: 18px;
}
#footer_button:hover {
  background-color: black;
  transform: translate(0px, 10px);
  border-radius: 10px;
}

#validation {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 6px;
  height: fit-content;
  padding: 16px 34px;
  border-radius: 8px;
  border-style: none;
  color: white;
  background-color: var(--blue);
  font-size: 18px;
}

/* Media querries */
@media screen and (max-width: 1374px) {
  .footer {
    padding: 60px 60px;
  }
}
@media screen and (max-width: 1260px) {
  h1 {
    font-size: 32px;
  }
  .elevate_your_brand p {
    font-size: 18px;
  }
  .elevate_your_brand_downsection {
    flex-direction: column;
    margin-bottom: 74px;
  }
  .our_services {
    padding: var(--padding-media-tablet);
  }
  .our_service_grid {
    grid-template-columns: 2fr 2fr;
  }
  .our_service_grid img:nth-child(n + 5) {
    display: none;
  }
  .happy_stories_items {
    flex-direction: column;
  }
  .happy_stories_items .img_man {
    padding: 48px 0px 0px 10px;
  }
  .happy_stories_text {
    margin: 0px;
  }
  .happy_storie_logo {
    align-self: center;
  }
  .contact_us_infos {
    flex-direction: column;
  }
  .formulaire {
    align-self: center;
  }
  .stay_updated_card_grid {
    grid-template-columns: 1fr 1fr;
  }
  .stay_updated_card:nth-child(n + 3) {
    display: none;
  }
  .footer {
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 0px) and (max-width: 1050px) {
  .header_section {
    padding: var(--padding-media-mobile);
  }
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
  }
  .crafting_visual_items {
    flex-direction: column;
    padding: var(--padding-media-mobile);
    justify-content: center;
    align-items: center;
  }
  .crafting_visual_text {
    align-items: center;
  }
  .crafting_visual_text h1 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
  .elevate_your_brand {
    padding: var(--padding-media-mobile);
  }
  .elevate_your_brand_image {
    padding: 0px 20px;
    margin: 20px 0px;
    width: 398px;
  }
  .happy_stories {
    padding: var(--padding-media-mobile);
  }
  .contact_us_infos {
    padding: var(--padding-media-mobile);
  }
  .our_service {
    padding: var(--padding-media-mobile);
  }
  .formulaire {
    width: 335px;
  }
  .stay_updated {
    padding: var(--padding-media-mobile);
  }
  .stay_updated h1 {
    font-size: 24px;
  }
  .stay_updated_card_grid {
    grid-template-columns: 1fr;
  }
  .footer {
    flex-direction: column;
    padding: var(--padding-media-mobile);
    padding-top: 30px;
    gap: 40px;
  }
  .footer_explore {
    padding-bottom: 20px;
  }
  .footer_logo {
    gap: 19px;
    display: flex;
    flex-direction: row;
  }
  .footer_form {
    order: 1;
  }

  .contact_us_infos {
    padding: var(--padding-media-mobile);
  }
  .formulaire {
    width: 200px;
  }
  .elevate_your_brand_image {
    padding: 0px;
  }
  .elevate_your_brand img {
    width: 300px;
    padding: 0px 0px;
  }
}
